// Font families
$primary_font_family: "Montserrat", sans-serif;
$secondary_font_family: "Righteous", cursive;

// Font sizes
$standard_font_size_sm: 20px;
$standard_font_size_xl: 24px;

// Font weights
$regular_font_weight: 400;
$medium_font_weight: 500;

// Colors
$primary_color: rgb(0, 0, 0);
$secondary_color: rgb(255, 255, 255);
$light_background_color: rgb(252, 252, 252);
$primary_accent_color: rgb(255, 201, 217);
$secondary_accent_color: rgb(255, 60, 118);

// Containers
$max_content_width_xl: 1206px;

// Spacing
$content_padding_sm: 24px;
$content_padding_md: 48px;
$content_padding_xl: 60px;
